---
const today = new Date();
const currentYear = today.getFullYear();
---

<footer>
	<span class='intro'>
		© 2020 - {currentYear}
		<a href='/' title="LynkXu's Blog">LynkXu</a>
		| <a href='/index.xml' title='RSS'>RSS</a>
	</span>
</footer>
